@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
/* Share style start */
/* Share title */
    .head-title {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
    }
/* Share Button */
.share-button{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 8px 30px;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    border: none;
}
/* Share style End */
/* header Section Start  */
section{
    background-color: #F7F7F7;
}
.container{
    padding: 15px 0px;
    max-width: 1160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-part{
    display: flex;
    align-items: center;
}
.topnav > a{
    text-decoration: none;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    padding-left: 30px;
}
.logo-title{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
}
.fa-bars{
    font-size: 40px;
    display: none;
}
.menu{
    display: none;
}
/* header Section End  */

/* Banner section style start */
/* Banner content part style */
    .banner-section{
        background-color: #ffffff;
        padding: 50px 0px;
    }
    .banner-container{
        gap: 120px;
    }
    .banner-title{
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
    }
    .banner-p{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    padding: 25px 0px;
    }
    .banner-btn{
        background-color: black;
    }

/* banner section style End */
/* The Curriculum section style Start */
    .curriculum-section{
        background-image: url(images/bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        padding: 80px 0px;
    }
    .curriculum-container{
        padding: 40px 0px;
    }
    .box-container{
        gap: 20px;
    }
    .curriculum-box{
        width: 33%;
        padding: 50px 30px;
        border-radius: 20px;
        background: linear-gradient(45turn, #ffffff, #ffffff, #f69c3c14);
        text-align: center;
        border: 1px solid #f69c3c23;
    }
    .box-2{
        background: linear-gradient(45turn, #ffffff, #ffffff, #01adfd14);
        border: 1px solid #01adfd25;
    }
    .box-3{
        background: linear-gradient(45turn, #ffffff, #ffffff, #86b53920);
        border: 1px solid #86b53946;
    }
    .box-img{
        width: 120px;
        height: 120px;
        text-align: center;
    }
    .box-title{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 24.52px;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    padding-top: 20px;
    }
    .box-p{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    padding: 10px 0px;
    }
    .box-btn{
    display: flex;
    justify-content: center;
    }
    .box-btn-1{
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(135, 0, 255);
    border: none;
    background-color: rgba(255, 255, 255, 0);
    }
    .box-btn-2{
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(240, 170, 0);
    border: none;
    background-color: rgba(255, 255, 255, 0);
    }
    .box-btn-3{
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(100, 200, 255);
    border: none;
    background-color: rgba(255, 255, 255, 0);
    }
    /* icon style */
    .icon-container{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .fa-solid{
        color: white;
        font-size: 25px;
        padding: 15px;
        background-color: #FEA301;
        border-radius: 100%;
    }
    .icon-1{
        rotate: 90deg;
    }
    .icon-2{
        rotate: -90deg;
    }

    /* style Our Stories section */
    .stories-section{
        background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(254, 163, 1, 0.3));

    }
    .overlay-img{
        background-image: url(images/bg.png);
        background-position: center;
        padding: 80px 0px;
    }
    .stories-img{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    .stories-container{
        gap: 20px;
        align-items: start;
        padding: 50px 0px;
    }
    .stories-left-part{
        width: 45%;
        background-color: white;
        border-radius: 20px;
    }
    .date{
        background-color: #95B226;
        display: inline;
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 15.34px;
        font-weight: 500;
        line-height: 28.76px;
        letter-spacing: 0%;
        padding: 8px 12px;
        border-radius: 200px;
    }
    .date-title{
        color: rgb(0, 0, 0);
        font-family: Quicksand;
        font-size: 24px;
        font-weight: 700;
        line-height: 38.35px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 40px;
    }
    .stories-p{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .stories-left-part-box{
        background-color: white;
        border-radius: 0px 0px 10px 10px;
        padding: 0px 40px 30px 40px;
        margin-top: -20px;
    }
    .date-color-1{
        background-color: #3CD8E8;
    }

    /* .stories-right-part */
    .stories-right-part{
        width: 55%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .stories-title{
        color: rgb(0, 0, 0);
        font-family: Quicksand;
        font-size: 15.34px;
        font-weight: 700;
        line-height: 23.76px;
        letter-spacing: 0%;
        padding-top: 20px;
    }
    .date-color-2{
        background-color: #5D58F0;
    }
    .stories-btn{
        padding: 10px 40px;
        background-color: black;
    }

    /*  The footer section  Style */
    .footer-section{
        background-color: #202020;
        padding: 60px 0px;
    }
    .footer-container{
        max-width: 1160px;
    }
    .footer-container{
        align-items: start;
    }
    /* .footer-column-1 */
    .footer-column-1{
        width: 50%;
    }
    .footer-logo-part{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .footer-logo-title{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 42.14px;
    font-weight: 700;
    line-height: 39.51px;
    letter-spacing: 0%;
    text-align: left;
    }
    .logo-icon{
        width: 15%;
    }
    .footer-p{
    color: rgb(255, 255, 255);
    padding-right: 150px;
    padding-top: 20px;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    }


/* .footer-column-2 */
    .footer-column-2{
        width: 25%;
    }
    .footer-sub-title{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    }
    .quick-link> ul li a{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    }
    ul{
        list-style-type: none;
        padding-top: 20px;
    }
    ul > li{
        padding-top: 10px;
    }



/* .footer-column-3 */
    .footer-column-3{
        width: 25%;
    }
    .social-icon{
        padding-top: 20px;
    }


.headline{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
}




/* Responsive style */
/* responsive header Section start */
@media only screen and (max-width: 576px) {
    .menu{
        display: block;
    }
    .topnav{
        display: none;
    }
    .menu-btn{
        display: none;
    }
    .container{
        padding: 10px 20px;
    }
    .header-section{
        border-bottom: 1px solid rgb(254, 163, 1);
    }
    /* Responsive Banner section style start */
    /* Share title start */
    .head-title {
    font-size: 30px;
    line-height: 40px;
    }
    /* Share title end */
    .banner-container{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .banner-container{
        gap: 30px;
    }
    .banner-section {
        padding: 40px 0px;
    }
    .banner-img{
        width: 100%;
    }
    .banner-title{
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%; 
    text-align: center;
    }
    .banner-p{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    }
    .banner-btn{
        align-items: center;
    }
    .banner-b{
        display: flex;
        justify-content: center;
    }
    /* Responsive Standard Curriculum Section style start */
    .box-container{
        flex-direction: column;
    }
    .curriculum-box{
        width: 100%;
    }
    .curriculum-section{
        padding: 50px 10px;
    }
 /* responsive style Our Stories section */
    .stories-container{
        flex-direction: column;
    }
    .stories-left-part{
        display: none;
    }
    .stories-right-part{
        width: 100%;
    }
    .stories-left-part-box{
    padding: 0px 20px 20px 20px;
    }
    .stories-title{
        font-size: 10.22px;
        line-height: 20px;
    }
    .date{
        font-size: 10.22px;
    }
    .stories-container{
        padding: 30px 20px;
    }
/*  The Responsive footer section  Style */
    .footer-container{
        flex-direction: column;
    }
    .footer-container{
        padding: 0px 20px;
    }
    /*responsive footer column-1 */
    .footer-column-1{
        width: 100%;
    }
    .logo-icon{
        width: 18%;
    }
    .footer-logo-title{
        font-size: 30px;
        line-height: 33px;
    }
    .footer-p {
        padding-right: 0px;
    }
 /*responsive footer column 2 */
    .footer-column-2{
        width: 100%;
        padding-top: 30px;
    }
    ul{
        padding-top: 10px;
    }
  /*responsive footer column 3 */
    .footer-column-3{
    width: 100%;
    padding-top: 30px;
}

/* Responsive Standard Curriculum Section style End*/
}

